<head>
    <%- include("../partial/head.ejs") %>
</head>

<body>
    <%- include("../partial/navbar.ejs") %>
        <section id="about">
            <a class="Aone" href="/about">
                <h1>About US!</h1>
            </a>
            <div class="about-section wrapper">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 mb-lg-0 mb-5 mt-3">
                            <div class="card border-0">
                                <img src="image/cof.jpg" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 text-sec">
                            <h2 class="text-dark">Lorem ipsum dolor sit amet.</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum itaque libero laborum rerum quibusdam repellendus corporis quas commodi necessitatibus iusto. Nobis, velit dolores!</p>
                            <button class="main-btn mt-4">Learnmore</button>
                        </div>
                    </div>
                </div>
                <div class="container food-type">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mt-5">
                            <h2 class="text-dark">Lorem ipsum dolor sit amet consectetur.</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum laudantium rem temporibus repudiandae suscipit corrupti quod obcaecati quidem recusandae, cum reprehenderit ut inventore? Numquam assumenda repellat blanditiis
                                sit facere voluptas unde distinctio laboriosam facilis praesentium deserunt aliquam quo aut vero, adipisci saepe laudantium ab veritatis quae aperiam! Ad eius veritatis minus dolores tenetur quidem asperiores labore earum
                                doloremque, nam, cum facilis et aperiam.</p>
                            <!-- <ul class="list-unstyled py-3">
                            <li>Lorem, ipsum dolor.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ul> -->
                            <button class="main-btn mt-4">Learn More</button>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="card border-0">
                                <img src="image/coff.jpg" class="img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <%- include("../partial/footer.ejs") %>
</body>